@import "../colors"
@import "../mixins/typography"

.action-list
  crisp-text()
  display flex
  flex-direction column
  font-body()
  text-align right

  > .action
    color $gray
    cursor pointer
    text-decoration none

    &:hover
      color $black

    ~ .action
      margin-top 0.5em
