$header-height = 100px

.app-header
  $height = $header-height
  align-items center
  display flex

  > .app-nav
  > .app-logo
  > .app-logo > .img
    height $height

  > .app-nav
    flex-grow 1

  > .app-nav-right
    flex-grow 0
