@import "../colors"
@import "../mixins/typography"
@import "../mixins/media"

.app-panel
  background $white
  color $black
  font-body()
  padding 2em 0

  > .panel-item
    box-sizing border-box
    padding 1em 2.5em

  +desktop()
    &.-dual
      display flex

      > .panel-item
        width 50%

      > .panel-item ~ .panel-item
        border-left 1px solid $lightgray
