/*
AvatarPhoto

Markup:
<div class="avatar-photo">
  <img src="http://lorempixel.com/output/cats-q-c-100-100-3.jpg" class="img">
</div>

Style guide: components.avatar-photo

*/
.avatar-photo
  $size = 48px
  border-radius $size
  height $size
  overflow hidden
  width $size

  > .img
    width 100%
