@import '../colors'
@import '../mixins/typography'

.font-pair
  $size = 16px
  crisp-text()
  font-body($size)

  &.-small
    > .title
      font-size 14px

    > .subtitle
      font-size 12px

  > .title
    color $black
    font-title($size)

  > .subtitle
    color $gray

