@import '../colors'
@import '../mixins/typography'

.footer-items
  $font-size = 16px
  color $gray
  crisp-text()
  display flex
  font-body($font-size)
  justify-content space-between
  margin 1em 0
  padding 0

  > .item
    display inline
    margin 0
    padding 0

    > .title
      color $black
      font-bold($font-size)

      ~ .value
        margin-top 4px

  > .item > .ion-icon:first-child
    margin-right 5px
