@import '../colors'
@import '../mixins/typography'

.footer-items
  $font-size = 14px
  color $black
  crisp-text()
  display flex
  font-body($font-size)
  margin 0
  padding 2em 0

  &.-mini
    padding 1em 0

  ~ .footer-items
    border-top 1px solid $lightgray

  > .item
    display inline
    margin 0
    padding 0

    &.-disabled
      color $gray

  > .item ~ .item
    margin-left 3em

  > .item > .value
  > .item > .title
    display block

  > .item > .title
    color $black
    font-bold()

  > .item > .value
    font-size 12px

  > .item > .title ~ .value
      margin-top 4px

  > .item > .ion-icon:first-child
    margin-right 5px
