@import '../mixins/media'

input-group-inline()
  display flex
  justify-content center

  > .select-list
  > .input-text
    flex-grow 1
    margin 0

    ~ .select-list
    ~ .input-text
      margin 0 0 0 1em

.input-group
  &.-centered
    text-align center

  &.-inline
    +desktop()
      input-group-inline()

  &.-right
    text-align right

  ~ .input-group
    margin-top 1em

  > .input-text
  > .input-button
  > .input-checkbox
    margin-bottom 1em

  +mobile()
    margin 0 1em
