/*
InputButton

Your standard button suitable for clicking.

.-block - full width
.-disabled - disabled
.-inverted - inverted
:hover - Highlights when hovering.

Markup:
<button class="input-button {{modifier_class}}">
  <span class="text">Button</span>
  <i class="ion-icon ion-ios-checkmark"></i>
</button>

Style guide: components.input-button
*/

@import '../colors'
@import '../mixins/typography'

$font-bolder = 900


button-size($fontsize, $height)
  font-body($fontsize)
  height $height
  line-height $height

button()
  align-items center
  appearance none
  background $white
  border 1px solid $black
  border-radius 0
  box-sizing border-box
  color $black
  crisp-text()
  display inline-flex
  font-heavy()
  justify-content center
  outline 0
  padding 0 1.25em
  text-align center
  transition 250ms
  width auto

  button-size(16px, 36px)

  // .-block - big block size
  &.-block
    width 100%

  &.-disabled
    border-color $gray
    opacity 0.5

  &:hover:not(.-disabled)
    background $black
    color $white

  &.-big
    border-width 2px
    button-size(24px, 48px)

  &.-inverted
    background $black
    color $white

  &.-success
    > .ion-icon
      color $green

  > .ion-icon
    font-size 1.25em

    &:first-child
      margin-right 0.25em

    &:last-child
      margin-left 0.25em

.input-button
  button()
