@import '../mixins/typography'
@import '../mixins/media'

.input-form
  box-sizing border-box
  text-align left

  +desktop()
    width 480px

  +mobile()
    margin 0 1em

  ~ .input-form
    margin-top 1em
