@import '../mixins/media'

input-group-inline()
  display flex
  justify-content center

  > .select-list
  > .input-text
    flex-grow 1
    margin 0

    ~ .select-list
    ~ .input-text
      margin-left 1em

.input-group
  &.-centered
    text-align center

  &.-inline
    +desktop()
      input-group-inline()

  &.-right
    text-align right

  > .input-text
  > .input-button
  > .input-checkbox
  > .select-list
    margin-bottom 1em

  &.-dual
    align-items center
    display flex
    width 100%
    flex-wrap wrap

    > .input-text
    > .input-button
    > .input-checkbox
    > .select-list
      margin 0

    >:nth-child(1n)
      box-sizing border-box
      width 33.33%
      margin-bottom 1em

    >:nth-child(2n)
      box-sizing border-box
      flex-grow 1
      margin-left 1em
      margin-bottom 1em

  +mobile()
    &:not(.-padless)
      padding-left 1em
      padding-right 1em
