@import '../mixins/media'

input-group-inline()
  display flex
  justify-content center

  > .input-text
    flex-grow 1

    ~ .input-text
      margin 0 0 0 1em

.input-group
  &.-centered
    text-align center

  &.-inline
    +desktop()
      input-group-inline()

  &.-right
    text-align right

  ~ .input-group
    margin-top 1em

  > .input-text ~ .input-text
  > .input-text ~ .input-button
    margin-top 10px
