/*
ItemPhoto

Display photo of a product

.-small - Small version
.-square - Square
.-thumbnail - Thumbnail

Markup:
<div class="item-photo {{modifier_class}}">
  <img src="http://lorempixel.com/output/cats-q-c-100-100-3.jpg" class="img" />
</div>

Style guide: components.item-photo

*/
@import '../colors'
@import '../mixins/typography'

item-photo-size($size)
  width $size

  > .placeholder
    height $size
    width $size

.item-photo
  $size = 240px
  align-items center
  background black
  crisp-text()
  display inline-flex
  font-body()
  item-photo-size(240px)

  &.-small
    item-photo-size(120px)

  &.-mini
    item-photo-size(80px)

  &.-full
    height 100%
    overflow hidden
    width auto

    > .img
      height 100%
      width auto

  &.-square
    border 1px solid $gray
    height $size
    overflow hidden
    width $size

  &.-thumbnail
    $size = 80px
    border 1px solid $gray
    height $size
    overflow hidden
    width $size

  > .img
    width 100%

  > .placeholder
    align-items center
    background $lightgray
    display flex
    justify-content center
