/*
ItemPhoto

Display photo of a product

.-small - Small version
.-square - Square
.-thumbnail - Thumbnail

Markup:
<div class="item-photo {{modifier_class}}">
  <img src="http://lorempixel.com/output/cats-q-c-100-100-3.jpg" class="img" />
</div>

Style guide: components.item-photo

*/
@import '../colors'
@import '../mixins/typography'

$item-photo-circle-size = 100px

item-photo-size($size)
  max-width $size

  > .placeholder
    height $size
    width $size

.item-photo
  $size = 240px
  align-items center
  background $lightgray
  crisp-text()
  display inline-flex
  font-body()
  item-photo-size(240px)

  &.-circled
    $size = $item-photo-circle-size
    border-radius $size
    height $size
    overflow hidden
    width $size

  &.-gallery
    background lightness($lightgray, 98%)
    border 1px solid $lightgray
    padding 2em
    position relative

    ~ .item-photo.-gallery
      margin-top 1em

  &.-small
    item-photo-size(120px)

  &.-mini
    item-photo-size(80px)

  &.-block
    width 100%

  &.-full
    height 100%
    overflow hidden
    width auto

    > .img
      height 100%
      width auto

  &.-square
    border 1px solid $gray
    height $size
    overflow hidden
    width $size

  &.-thumbnail
    $size = 80px
    border 1px solid $gray
    height $size
    overflow hidden
    width $size

  > .img
    width 100%

  > .placeholder
    align-items center
    background $lightgray
    display flex
    justify-content center

  > .close-btn
    $size = 30px
    border-radius $size
    color $white
    cursor pointer
    height $size
    line-height $size
    margin 10px
    position absolute
    right 0
    text-align center
    top 0
    width $size
