@import '../colors'
@import '../vars'
@import '../mixins/typography'

.link-text
  cursor pointer
  display inline-block

  > .text
    background none
    border none
    color $gray
    font-body()
    outline none
    padding 0

  &.-black
    > .link-button
      color $black

  &.-centered
    display block
    text-align center

  &.-padded
    padding-top 1em

  &.-button
    padding 1em 2em

  &.-strong
    > .link-button
      font-weight $medium-font-weight

  &.-white
    > .link-button
      color $white
