@import '../colors'
@import '../mixins/typography'
@import '../mixins/media'

.link-list
  crisp-text()
  display flex

  &.-inline
    display inline-flex

  +desktop()
    flex-direction column

  > .link
    color $cyan
    display inline-block
    font-body(14px)
    padding 0.25em
    text-decoration none

    &:hover
      color $black

    +desktop()
      padding 0.25em 0

  > .link ~ .link
    +desktop()
      margin-top 5px
    +mobile()
      margin-left 5px
