/*
LinkText

For hyperlinks

.-centered - horizontal block
.-button - display as a button
.-strong - display in bold
.-white - white color

Markup:
<div class="link-text {{modifier_class}}">Link Text</div>

Style guide: components.link-text

*/
@import '../colors'
@import '../vars'
@import '../mixins/typography'

.link-text
  color $black
  crisp-text()
  cursor pointer
  display inline-block
  font-bold()
  text-decoration none

  &.-centered
    display block
    text-align center

  &.-padded
    padding-top 1em

  &.-button
    padding 1em 2em

  &.-strong
    font-weight $medium-font-weight

  &.-white
    color $white
