@import '../colors'
@import '../mixins/typography'
@import '../mixins/media'

.link-list
  crisp-text()
  display flex

  &.-inline
    display inline-flex

  +desktop()
    flex-direction column

  > .link
  > .text
    display inline-block
    font-body(14px)
    padding 0.25em
    text-decoration none

    +desktop()
      padding 0.25em 0

  > .link
    color $cyan
    &:hover
      color $black

  > .text
    color $gray
