.loading-icon
  $width = 120px
  align-items center
  display flex
  flex-direction column
  justify-content center
  margin auto
  width $width

  > .icon
    width $width

    &.-cropped
      height unit($width/3, px)

      > .img
        -webkit-mask-image linear-gradient(transparent 40%, black)

    > .img
      width 100%

