@import '../colors'
@import '../easing'

.photo-gallery
  $height = 360px
  position relative

  > .actions
    margin 1em
    position absolute
    right 0
    text-align center
    top 0

  > .preview
    align-items center
    background $black
    display flex
    height $height
    justify-content center
    overflow hidden
    position relative
    user-select none

    > .img
      max-height 100%
      pointer-events none
      &.-loaded
        animation 1s zoom-out $easeOutCirc

    +mobile()
      height 240px

    > .arrow-left
    > .arrow-right
      align-items center
      bottom 0
      color $white
      cursor pointer
      display flex
      font-size 2em
      justify-content center
      position absolute
      top 0
      transition 250ms
      width 50%

      &:not(:hover)
        opacity 0

    > .arrow-left
      left 0

    > .arrow-right
      right 0

  > .thumbnails
    align-items center
    bottom 0
    display flex
    justify-content center
    left 0
    right 0

    > .dot
      $size = 10px
      background $lightgray
      border-radius $size
      height $size
      margin 0.5em
      width $size

      &.-active
        background $gray

@keyframes zoom-out
  from
    transform scale(2)
    opacity 0
