@import '../colors'
@import '../mixins/media'
@import '../mixins/typography'

.product-info
  display flex
  flex-direction column
  margin-bottom 1em

  +mobile()
    margin 0 1em

  > .title
    color $black
    flex-grow 0
    font-heavy(16px)
    text-decoration none

  > .title ~ .description
    margin-top 1em
    flex-grow 0

  > .description
    color $gray
    flex-grow 1
    font-body(14px)

  > .description ~ .description
  > .description ~ .title
    margin-top 0.5em
