@import '../colors'
@import '../mixins/media'
@import '../mixins/typography'

.product-info
  display flex
  flex-direction column
  margin-bottom 1em

  > .title
    color $black
    font-heavy(24px)
    text-decoration none
    flex-grow 0

  > .title ~ .description
    margin-top 4px
    flex-grow 0

  > .description
    color $gray
    flex-grow 1
    font-body(14px)
