@import '../colors'

$profile-card-height = 72px

.profile-card
  align-items center
  display flex
  height $profile-card-height

  > .body
    align-items center
    display flex
    flex-grow 1
    height $profile-card-height
    padding 0 1em

  > .photo
    align-items center
    display flex
    height $profile-card-height
    justify-content center
    width $profile-card-height

