profile-avatar($size)
  border-radius $size
  height $size
  width $size

.profile-avatar
  background $black
  overflow hidden
  profile-avatar(48px)

  &.-prefix
    margin-right 10px

  &.-suffix
    margin-left 10px

  &.-small
    profile-avatar(36px)

  &.-big
    profile-avatar(64px)

  > .img
    width 100%
