@import "../colors"
@import "./item-photo"

.profile-header
  position relative

  > .avatar
    $size = $item-photo-circle-size
    align-items center
    display flex
    height $size
    justify-content center
    left 0
    margin-top unit($size/2*-1, px)
    position absolute
    top 100%
    width 33.33%
    z-index 2

    > .edit-icon
      $size = 30px
      align-items center
      background $black
      border 2px solid $white
      border-radius $size
      bottom 0
      color $white
      display flex
      height $size
      justify-content center
      left 50%
      position absolute
      width $size
      margin-left unit($item-photo-circle-size/4, px)
