/*
SectionTitle

A generic title display for a section

.-bold - Bold
.-heavy - Heavy

Markup:
<div class="section-title {{modifier_class}}">
  Acts of Kindness
</div>

Style guide: components.section-title

*/
@import "../mixins/typography"

section-title-compact()
  margin 0
  padding 0
  padding-bottom 1em

section-title-bold()
  font-heavy(24px)
  margin 0

section-title-heavy()
  font-heavy(42px)
  padding 1em 0
  padding-bottom 0.5em

.section-title
  color $black
  display block
  font-heavy(24px)
  padding 1em 0
  text-decoration none

  &.-compact
    section-title-compact()

  &.-bold
    section-title-bold()

  &.-heavy
    section-title-heavy()

  &.-padless
    padding 0

  &.-small
    font-size 16px
    margin 0
    padding 0
