@import '../mixins/media'
@import '../mixins/typography'

.section-page
  ~ .section-page
    border-top 1px solid $lightgray

  > .container
    crisp-text()
    font-body()
    margin auto
    max-width 1024px
    position relative

    &:last-child
      +desktop()
        padding-bottom 2em

    > .back-btn
      align-items center
      bottom 0
      display flex
      position absolute
      right 0
      top 0
