.section-header
  align-items center
  display flex
  height 70px
  justify-content space-between
  margin-bottom 2em

  &.-bordered
    border-bottom 1px solid $lightgray

  > .title
    align-items center
    display flex
