@import '../colors'
@import '../mixins/typography'

.status-badge
  border 1px solid $black
  color $black
  crisp-text()
  display inline-block
  font-family(12px)
  margin 0.5em 0
  padding 0.5em 0.75em

  &.-active
    background $black
    color $white

  &.-small
    border-radius 3px
    font-size 12px
    padding 5px 8px
