@import '../colors'
@import '../mixins/typography'

.status-badge
  background $black
  color $white
  crisp-text()
  display inline-block
  font-family(12px)
  margin 0.5em 0
  padding 0.5em 0.75em

