@import "../colors"
@import "../easing"
@import "../mixins/typography"
@import "../mixins/reset-link"

$tab-item-height = 36px

.tab-items
  crisp-text()
  display flex
  justify-content stretch

  > .tab-item
    align-items center
    background $white
    border 1px solid $lightgray
    display flex
    font-body()
    height $tab-item-height
    justify-content center
    padding 0 1.5em
    reset-link($gray)
    text-align center

    &.active
      background $black
      color $white

    &:hover:not(.active)
      background $lightgray

    ~ .tab-item
      margin-left 1px