@import '../colors'
@import '../mixins/typography'

.table-list
  border-collapse collapse
  crisp-text()
  font-body()
  margin-bottom 1em
  width 100%

  &.-small
    font-size 12px

  th
  td
    padding 0.25em
    text-align left

  tr ~ tr
    border-top 1px solid $lightgray
