@import '../vars/typography'

crisp-text()
  text-rendering geometricPrecision

font-body($size = $font-size)
  font-family $font-body
  font-size $size
  line-height 1.2

font-title($size = $font-size-big)
  font-family $font-body
  font-size $size
  font-weight bold

font-heavy($size = $font-size-big)
  font-family $font-body
  font-size $size
  font-weight 900
