@import nib
@import './colors'
@import './animation'
@import './font'

.aok-ui
  @import './components/*.styl'

html.aok-ui
  height 100%
  margin 0
  padding 0

  > body
    height 100%
    margin 0
    padding 0

  .no-scroll
    overflow hidden

  .hidden
    display none
    visibility hidden

  .link
    color $black

  .disabled-layer
    opacity 0.15
    pointer-events none

  .color-red
    color $red

  .color-green
    color $green

  .color-gray
    color $gray
