$bgwhite = #f9f9f9
$black = #292929
$blacktranslucent = rgba(black, 0.5)
$cyan = #1ca7b8
$gray = #9b9b9b
$lightgray = #e8e8e8
$red = #ea493f
$white = #ffffff

//

$blue = #00bef0
$bodyblack = rgba($black, 0.7)
$brightorange = #fc6b00
$darkgray = #999999
$fbblue = #3b5998
$green = #7ed321
$yellow = #ffee64
