@font-face
  font-family 'FontMedium'
  font-style normal
  font-weight 900
  src url('fonts/Geomanist-Medium.otf')

@font-face
  font-family 'FontBook'
  font-style normal
  font-weight bold
  src url('fonts/Geomanist-Book.otf')

@font-face
  font-family 'FontRegular'
  font-style normal
  font-weight normal
  src url('fonts/Geomanist-Regular.otf')
