@font-face
  font-family 'FontBody'
  src url('fonts/Geomanist-Medium.otf')
  font-weight 900
  font-style normal

@font-face
  font-family 'FontBody'
  src url('fonts/Geomanist-Book.otf')
  font-weight bold
  font-style normal

@font-face
  font-family 'FontBody'
  src url('fonts/Geomanist-Regular.otf')
  font-weight normal
  font-style normal
